// sass assets/sass/main-style.scss:assets/css/main-style.css
@import './mixin/mixin';
// @font-face {
//     font-family: fonta;
//     src: url(../fonts/ReemKufi.ttf);
// }
// @font-face {
//     font-family: fontb;
//     src: url(../fonts/MajorMonoDisplay-Regular.ttf);
// }
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@include font(fonta, ReemKufi);
@include font(fontb, MajorMonoDisplay-Regular);


$color1: #5271C2;
$color2: #35a541;
$color3: #bdb235;
$color4: #db6623;
$color5: #3e5eb3;
$color6: #aa9e5c;

@function longshadow($color_a,$color_b,$stepnum, $opacity: 1){
	$gradient_steps: null;
	@for $i from 1 through $stepnum {
		$weight: ( ( $i - 1 ) / $stepnum ) * 100;
		$colour_mix: mix($color_b, rgba($color_a, $opacity), $weight);
		$seperator: null;
		@if($i != $stepnum){ 
			$seperator: #{','}; 
		}
		$gradient_steps: append( #{$gradient_steps}, #{$i}px #{$i}px $colour_mix $seperator );
    }
    @return $gradient_steps;
}
.tes{
    text-shadow: longshadow(darken(black, 15%),white,100, 0.8);
    font-size: 100px;
    margin: 0 8px 0 0;
    font-weight: 700;
}
// $base-color: #00897B;
$base-color: #005059;
$sub-color: #08808E;
$light-color: #7AC9D0;
$slight-color: #C8E8EA;


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
input, select {
    border: 2px solid $sub-color;
    padding: 5px;
    @include border-radius(6px);
}
.styled-btn{
    cursor: pointer;
    text-decoration: none;
    background: $sub-color;
    color: white;
    border: 0px;
    @include border-radius(20px);
    padding: 6px 65px 6px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-family: arial;
    font-weight: 400;
    font-size: 13px;
    &::after{
        // content: "\f039";
        content: attr(data-icon);
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        right: 17px;
    }
    &::before{
        content: '';
        position: absolute;
        display: block;
        background: #005059;
        height: 30px;
        width: 60px;
        top: 0;
        right: -13px;
        transform: skewX(25deg);
        z-index: -1;
    }
}
body{
    background: #eee;
}
/*Navbar style start*/
#logo{
	// border-top: 80px solid $base-color;
    // border-left: 0px solid transparent;
    // border-right: 30px solid transparent;
    @include customBorder($left: 0px solid transparent, $right:30px solid transparent, $top:80px solid $base-color);
    height: 0;
    width: 290px;
    position: absolute;

    &:after{
        content: 'Kalpro';
        position: absolute;
        top: -73px;
        left: 15px;
        font-family: fontb;
        color: white;
        text-decoration: none;
        font-size: 60px;
    }
}

#navbar{
    height: 80px;
	width: 100%;
	position: fixed;
	z-index: 999;
    
    img{
        max-width: 385px;
        position: absolute;
        margin: 10px 0 0 10px;
    }
}
#nav-margin{
	width: 100%;
	height: 80px;
}
#admin-bar{
	position: fixed;
    height: 30px;
    color: white;
    padding: 5px;
    font-weight: bold;
    z-index: 3;
    left: 440px;
    a{
        border: 2px solid white;
        @include border-radius(5px);
        padding: 0 7px;
        color: white;
    }
    a:hover{
        background: white;
        color: black;
    }
}
#menubar-atas{
	width: 100%;
	height: 40%;
	background: #202E31;
}
#search-box{
    float: right;
    background: white;
    height: 23px;
    width: 170px;
    margin: 4px 5px 0 0;
    /*@include border-radius(20px);*/
    padding: 1px 7px 0 2px;
    &::before{
        content: '';
        // border-bottom: 23px solid #ffffff;
        // border-right: 0px solid transparent;
        // border-left: 10px solid transparent;
        @include customBorder(
            $left:10px solid transparent, 
            $right:0px solid transparent, 
            $bottom:23px solid #ffffff
        );
        height: 0;
        width: 2px;
        position: absolute;
        right: 183px;
        top: 5px;
    }
    i{
        float: right;
        margin: 2px 0 0 0;
        cursor: pointer;
    }
    input{
        float: left;
        width: 140px;
        background: none;
        border: none;
        font-family: fonta;
        &:focus{
            outline: none;
        }
    }
}
#menubar-bawah{
	width: 100%;
	height: 60%;
	background: white;
	text-align: right;
    border-bottom: 1px solid #eee;
}
#menu-div{
    // padding-top: 10px;
}
.menu{
	position: relative;
	float: right;
    padding: 0 15px 0 15px;
    margin-top: 10px;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: #009688;
        visibility: hidden;
        transform: scaleX(0);
        
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        @include transition(all, .3s, ease-in-out);
    }
    &:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }
    a{
        font-size: 22px;
        color: #202E31;
        text-decoration: none;
    }
    p{
        margin: 0;
        font-family: fonta;
    }
}

.active{
	/*transform:skew(-20deg);
	background: #009688;*/
	border-bottom: 2px solid #009688;
}
#menu-bar{
	margin: 0 15px 0 0;
    color: #202e31;
    display: none;
}
#menu-dropdown-par{
	display: none;
}
#menu-dropdown{
	display: grid;
    background: white;
    position: absolute;
    top: 80px;
    width: 100%;
}
/*Navbar style end*/

#container{
    max-width: 1140px;
    padding-top: 90px;
    grid-template-columns: 25% 50% 25%;
    display: grid;
    grid-column-gap: 20px;
    margin: 0 auto;
}
#profile, #content, #sidebar{
    padding: 10px;
    background: white;
    @include border-radius(10px);
    /* height: 2000px; */
}
#content ul>li{
    list-style: none;
}
#profile{
    text-align: center;
    .photo{
        width: 100px;
        height: 100px;
        @include border-radius(50%);
        border: 3px solid $base-color;
        overflow: hidden;
        margin: 0 auto;
    }
    .photo img{
        width: 100%;
        height: 100%;
    }
}

#post-form textarea{
    box-sizing: border-box;
    resize: none;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
}

#no-class{
    padding: 80px 20px;
    text-align: center;
    color: #e23232;
    i{
        font-size: 90px;
        margin-bottom: 40px;
    }
}

.feed-container{
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    position: relative;
    font-size: 15px;
}
.feed-photo{
    width: 100%;
    height: 60px;
    div:first-child{
        width: 50px;
        height: 50px;
        border-radius: 30px;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    div:last-child{
        float: left;
        margin-top: 5px;
    }
}
.feed-content{
    // margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.comment-container{
    width: 100%;
    background: $slight-color;
    color: #545454;
    margin-top: 10px;
}
.comment-form{
    form{
        // display: grid;
        // grid-template-columns: 90% 10%;
        padding: 3px;
    }
    textarea{
        width: 100%;
        resize: none;
        padding: 5px;
        box-sizing: border-box;
    }
}
.user-comment{
    position: relative;
    padding: 10px;
    font-size: 14px;
}
.dots{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
#side-menu{
    ul>li{
        cursor: pointer;
        padding: 10px;
        padding-left: 40px;
        background: #c2e6e3;
        font-family: fonta;
        list-style: none;
        position: relative;
        overflow: hidden;
        &:hover::before{
            left: -15px;
            transform: skewX(30deg);
        }
        &:hover::after{
            left: -30px;
            transform: skewX(-50deg);
        }
        &::before{
            @include transition(all, .3s, ease-in-out);
            content: '';
            display: block;
            background-color: $base-color;
            position: absolute;
            height: 43px;
            width: 35px;
            top: 0;
            // LEFT ELEMENT
            transform: skewX(10deg);
            left: -25px; 
            box-shadow: -1px 0px 4px 0px black;
            // RIGHT ELEMENT
            // right: -70px;
            // transform: skewX(-25deg);
            // box-shadow: -1px 0px 4px 0px black;
        }
        &::after{
            @include transition(all, .3s, ease-in-out);
            content: '';
            display: block;
            background-color: $sub-color;
            position: absolute;
            height: 43px;
            width: 40px;
            top: 0;
            // LEFT ELEMENT
            transform: skewX(-30deg); 
            left: -35px;
            box-shadow: -1px 0px 5px 1px black;
            // RIGHT ELEMENT
            // right: -70px;
            // transform: skewX(25deg);
            // box-shadow: -1px 0px 5px 1px black;
        }
    }
    ul>li.selected{
        background: #8dcec8;
        &::before{
            left: -15px;
            transform: skewX(30deg);
        }
        &:after{
            left: -30px;
            transform: skewX(-50deg);
        }
    }
} 

/* class-page quiz style */
.class-page{
    grid-template-columns: 25% 75% !important;
}
#new-class-div{
    background: white;
    margin-top: 10px;
    padding: 15px 40px;
    box-shadow: 2px 3px 7px -2px #676767;
}
#class-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 10px;
    a{
        font-size: 20px;
        text-decoration: none;
        font-weight: bold;
    }
}
.styled-card{
    height: 80px;
    background: white;
    padding: 30px 0;
    padding-left: 100px;
    font-family: sans-serif;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 3px 7px -2px #676767;
    &:hover::before{
        transform: skewX(10deg);
        left: -100px;
    }
    &:hover::after{
        transform: skewX(-30deg);
    }
    &::before{
        @include transition(all, .3s, ease-in-out);
        content: '';
        display: block;
        background-color: $base-color;
        position: absolute;
        height: 140px;
        width: 140px;
        top: 0;
        // LEFT ELEMENT
        left: -80px;
        transform: skewX(30deg);
        box-shadow: -1px 0px 4px 0px black;
        // RIGHT ELEMENT
        // right: -70px;
        // transform: skewX(-25deg);
        // box-shadow: -1px 0px 4px 0px black;
    }
    &::after{
        @include transition(all, .3s, ease-in-out);
        content: '';
        display: block;
        background-color: $sub-color;
        position: absolute;
        height: 140px;
        width: 140px;
        top: 0;
        // LEFT ELEMENT
        left: -110px;
        transform: skewX(-50deg);
        box-shadow: -1px 0px 5px 1px black;
        // RIGHT ELEMENT
        // right: -70px;
        // transform: skewX(25deg);
        // box-shadow: -1px 0px 5px 1px black;
    }
}
.class-div, .quiz-list-div{
    position: relative;
}
.quiz-list-div{
    a{
        position: absolute;
        bottom: 15px;
        left: 100px;
        width:62px
    }
}
.trash{
    @include transition(all, .3s, ease-in-out);
    position: absolute;
    top: -8px;
    right: -8px;
    background: white;
    color: $sub-color;
    height: 25px;
    width: 25px;
    border: 2px solid $sub-color;
    border-radius: 20px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    &:hover{
        @include scale(1.2);
    }
}
.corner-menu{
    @include transition(all, .3s, ease-in-out);
    position: absolute;
    right: -9px;
    background: white;
    color: $sub-color;
    height: 25px;
    width: 25px;
    border: 2px solid $sub-color;
    border-radius: 20px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    overflow: hidden;
    margin-top: 10px;
    &:hover, span{
        // @include scale(1.2);
        width: 75px;
    }
    span{
        white-space: nowrap;
        margin-left: 4px;
    }
    &.view{
        top: 5px;
        span{
            margin-left: 4px;
        }
    }
    &.edit{
        top: 45px;
        span{
            margin-left: 5px;
        }
    }
    &.delete{
        top: 85px;
        span{
            margin-left: 6px;
        }
    }
}
#quiz-result-container{
    table{
        margin: 1em 0;
        width: 100%;
        min-width: 300px;
        background: #34495E;
        color: #fff;
        border-radius: .4em;
        overflow: hidden;
        font-size: 12px;

        tr{
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-color: lighten(#34495E, 10%);
        }
        th{
            display: none;
            color: #dd5;
        }
        td{
            display: block; 
    
            &:first-child {
                padding-top: .5em;
            }
            &:last-child {
                padding-bottom: .5em;
            }

            &:before {
                content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
                font-weight: bold;

                // optional stuff to make it look nicer
                width: 6.5em; // magic number :( adjust according to your own content
                display: inline-block;
                // end options
            
                @media (min-width: 480px) {
                    display: none;
                }
            }
        }
        th, td {
            text-align: left;
            margin: .5em 1em;
            @media (min-width: 480px) { 
              padding: 1em !important; 
            }
            
            @media (min-width: 480px) {
                display: table-cell;
                padding: .25em .5em;
                
                &:first-child {
                    padding-left: 0;
                }
                
                &:last-child {
                    padding-right: 0;
                }
            }

            &:before{
                color: #dd5;
            }
        }
    }
}
.member-list{
    display: grid;
    grid-template-columns: 90px auto;
    img{
        max-height: 70px;
        max-width: 70px;
        border-radius: 35px;
    }
    div{
        font-family: arial;
        line-height: 70px;
    }
}

#quiz-list-container{
    display: grid;
    grid-row-gap: 25px;
    margin: 30px;
}
.quiz-list-box{
    margin-bottom: 20px;
    @include box-shadow(0, 0, 5px, -1px, rgba(0,0,0,0.5));
    background-color: white;
    @include border-radius(5px);
    position: relative;
    padding-bottom: 50px;
    max-width: 280px;
    a{
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    .quiz-info{
        background: url(../img/top-bg.svg);
        background-size: cover;
        background-position: bottom;
        color: white;
        padding: 5px;
        padding-bottom: 30px;
        @include border-radius(5px);
    }
}
.quiz-title{
    font-size: 20px;
    font-weight: bold;
}
.quiz-date, .quiz-due-date{
    font-size: 11px;
}
.quiz-total, .quiz-duration{
    font-size: 14px;
}
#modal-view{
    max-width: 60% !important;
    svg{
        background-color: #282c34;
        width: 100% !important;
        height: 90vh !important;
        box-sizing: border-box;
        padding: 20px;
    }
    #view-question{
        background-color: #282c34;
        padding: 20px;
        padding-bottom: 0;
        color: white;
    }
}
#new-quiz{
    /* cursor: pointer; */
    >div{
        margin: 0 auto;
        line-height: 120px;
        width: fit-content;
        font-size: 40px;
        color: #212f32;
    }
    &:hover{
        // -webkit-box-shadow: inset 0 0 5px -1px rgba(0,0,0,0.5);
        // -moz-box-shadow: inset 0 0 5px -1px rgba(0,0,0,0.5);
        // box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.5);
        @include box-shadow-inset(0, 0, 5px, 1px, rgba(0,0,0,0.5));
        border-width: 1px;
    }
    &:hover > div{
        font-size: 38px;
    }
}

/* new-quiz page style */
#new-quiz-container{
    margin: 0 auto;
    max-width: 1140px;
    padding: 110px 15px 10px 15px;
    background: white;
    width: 100%;
    height: 100%;
}
#new-quiz-number{
    a{
        background: #0b897b;
        padding: 5px 15px;
        color: white; 
        text-decoration: none;
        margin-right: 5px;
        @include custom-border-radius(5px, 5px, 0, 0);
    }
    
    ul>li{
        display: inline;   
    }
    
    ul>li.selected a{
        background: white !important;
        color: black !important;
        border: 2px solid $base-color;
        border-bottom: 0;
    }
}
.new-quiz-form{
    border: 2px solid $base-color;
    padding: 20px 10px;
    margin-top: 2px;
}

/* FLOWCHART STYLE */
#curtain{
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
#flowchart-container {
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* display: grid;
    grid-template-columns: 19% 81%; */
}
#myPaletteDiv{
    width: 140px; 
    margin-right: 2px; 
    background-color: #282c34;
}
#myDiagramDiv{
    flex-grow: 1; 
    height: 750px; 
    background-color: #282c34;
}
#question-form{
    resize: none;
    width: 70%;
    padding: 10px;
}
.menu-btn{
    position: fixed;
    top: 258px;
    width: 180px;
    height: 25px;
    background: $base-color;
    line-height: 25px;
    display: grid;
    grid-template-columns: auto auto;
    button{
        background: none;
        border: 2px solid white;
    }
}
#diagram-container{
    text-align: center;
    position: fixed;
    background: $base-color;
    z-index: 1;
    width: 150px;
    top: 370px;
    padding: 30px 0;
}
.diagram-wrap{
    max-width: 100%;
    /* transform: scale(.6); */
    img{
        width: 90px;
        cursor: grab;
    }
    textarea{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        resize: none;
        width: 70%;
        height: 20px;
        padding: 0 5px;
    }
}
.dropped img{
    width: 100%;
}
.answer-container{
    position: fixed;
    background: $base-color;
    z-index: 1;
    width: 160px;
    padding: 10px;
    top: 283px;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: 40px;
    display: none;
    textarea{
        width: 90%;
        resize: none;
    }
}
.answer-number{
    background: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: auto auto;
    border: 2px solid #212f32;
    cursor: grab;
    p{
        background: rgba(33, 47, 50, 0.76);
        width: 200px;
        color: white;
        position: absolute;
        top: -40px;
        left: 80px;
        border: 2px solid #0de1c9;
        @include border-radius(5px);
        z-index: 99;
        min-height: 106px;
        padding: 0 10px;
        display: none;
    }
    p::before{
        content: '';
        display: block;
        position: absolute;
        top: 1px;
        left: -50px;
        border-right: 48px solid rgba(33, 47, 50, 0.83);
        border-bottom: 35px solid transparent;
        border-top: 35px solid transparent;
        height: 0;
        height: 34px;
    }
}
.target{
    position: relative;
    display: grid;
    width: 700px;
    grid-template-columns: 200px 45px 200px 45px 200px;
    grid-auto-rows: 200px 45px;
    margin: 0 auto;
    span{
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: sans-serif;
        font-size: 20px;
    }
    >div{
        position: relative;
        width: 200px;
        height: 200px;
        border: 1px solid #eee;
    }
    >div>.diagram-wrap{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
.first-diagram>img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.first-arrow{
    /* background: blue; */
    height: 45px !important;
    width: 45px !important;
    margin: auto auto;
    line-height: 60px;
    border-color: transparent #eee !important;
}
.arrow{
    /* background: blue; */
    height: 45px !important;
    width: 45px !important;
    margin: auto auto;
    cursor: pointer;
    // line-height: 50px;
    &:empty::before{
        font-family: "Font Awesome 5 Free";
        content: '\f542';
        font-weight: 900;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: #b9b9b9;
        position: absolute;
        top: 15px;
        left: 14px;
    }
    /* &:not(:empty)::before{
        content: '';
        display: block;
        background: black;
        width: 20px;
        height: 20px;
    } */
    
    &:nth-child(5n+7), &:nth-child(5n+4){
        border-color: #eee transparent;
    }
    &:nth-child(5n+6), &:nth-child(5n-7), &:nth-child(5n-5){
        border-color: transparent #eee;
    }
}
.empty{
    /* background: green; */
    height: 50px !important;
    width: 50px !important;
    border: 0 !important;
}
.empty-arrow::before{
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background: black;
    position: absolute;
}
#diagram-trash{
    position: fixed;
    background: $base-color;
    z-index: 1;
    padding: 15px;
    top: 260px;

    >#trash-top{
        position: relative;
        width: 43px;
        height: 5px;
        background: white;
        @include custom-border-radius(5px, 5px, 0, 0);
        margin: 0 auto;
        margin-top: 8px;
        transform-origin: center left;
        // transition: transform .5s;
        @include transition(transform, .5s, ease);
    }
    >#trash-top::before{
        content: '';
        position: absolute;
        display: block;
        border: 4px solid white;
        @include border-radius(9px);
        width: 13px;
        height: 2px;
        top: -6px;
        left: 12px;
    }
    >#trash-btm{
        position: relative;
        height: 35px;
        width: 30px;
        border: 4px solid white;
        @include custom-border-radius(0, 0, 10px, 10px);
        margin: 0 auto;
        margin-top: 2px;
    }
    >#trash-btm::after{
        content: '';
        position: absolute;
        display: block;
        background: white;
        width: 4px;
        height: 25px;
        @include border-radius(4px);
        top: 4px;
        left: 6px;
    }
    >#trash-btm::before{
        content: '';
        position: absolute;
        display: block;
        background: white;
        width: 4px;
        height: 25px;
        @include border-radius(4px);
        top: 4px;
        left: 20px;
    }
}

#arrow-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.52);
    z-index: 999;
    >div{
        margin: 0;
        position: absolute;

        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 20px;
        background: white;
        display: grid;
        grid-template-columns: 50px 50px 50px 50px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}
.arrow-img{
    border: 1px solid #eee;
    height: 50px;
    width: 50px;
    line-height: 60px;
    &:nth-child(4n+2){
        border: 1px solid blue;
        transform: rotate(90deg);
    }
    &:nth-child(4n+3){
        border: 1px solid yellow;
        transform: rotate(180deg);
    }
    &:nth-child(4n+4){
        border: 1px solid green;
        transform: rotate(270deg);
    }
}
.turn-arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%) rotate(720deg);
}
#add-line{
    padding: 20px 0;
}
/* START QUIZ STYLE */
#start-quiz-container{
    margin: 0 auto;
    max-width: 1140px;
    padding: 110px 15px 10px 15px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 95% 5%;
}
#start-quiz-content{
    background: white;
    padding: 20px;
}
#start-quiz-number{
    background: #0b897b;
}
#start-quiz-detail{
    background: white;
    margin-right: 10px;
    padding: 20px;
    >#diagram-trash{
        top: 170px;
        width: 150px;
    }
    >#diagram-container{
        top: 283px;
        width: 180px;
    }
    .diagram-btn{
        width: 90px;
        border-right-width: 1px;
        color: white;
    }
    .answer-btn{
        width: 90px;
        border-left-width: 1px;
        color: white;
    }
}
#quiz-title{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    button{
        float: right;
    }
}
#start-quiz-number ul{

    ul>li{
        list-style: none;
        line-height: 30px;
        display: inline;
    }
    a{
        color: #7e7e7e;
        text-decoration: none;
        padding: 6px 10px;
        background: #212f32;
    }
    a:hover{
        color: black;
        background: white;
        padding: 6px 18px;
    }
    a.selected{
        color: black;
        background: white;
        padding: 6px 18px;
    }
}
#quiz-result{
    max-width: 1140px;
    padding: 200px 0;
    background: white;
    margin: 0 auto;
}
#result-card{
    background: white;
    width: 400px;
    height: 110px;
    padding: 65px 0;
    padding-left: 130px;
    margin: 0 auto;
    font-family: sans-serif;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 3px 7px -2px #676767;
    border: .5px solid #eee;
    &:hover::before{
        transform: skewX(10deg);
        left: -100px;
    }
    &:hover::after{
        transform: skewX(-30deg);
    }
    &::before{
        @include transition(all, .3s, ease-in-out);
        content: '';
        display: block;
        background-color: $base-color;
        position: absolute;
        height: 240px;
        width: 140px;
        top: 0;
        // LEFT ELEMENT
        left: -80px;
        transform: skewX(30deg);
        box-shadow: -1px 0px 4px 0px black;
        // RIGHT ELEMENT
        // right: -70px;
        // transform: skewX(-25deg);
        // box-shadow: -1px 0px 4px 0px black;
    }
    &::after{
        @include transition(all, .3s, ease-in-out);
        content: '';
        display: block;
        background-color: $sub-color;
        position: absolute;
        height: 240px;
        width: 180px;
        top: 0;
        // LEFT ELEMENT
        left: -150px;
        transform: skewX(-50deg);
        box-shadow: -1px 0px 5px 1px black;
        // RIGHT ELEMENT
        // right: -70px;
        // transform: skewX(25deg);
        // box-shadow: -1px 0px 5px 1px black;
    }
}
.blocker{
    z-index: 9999 !important;
}
.ui-datepicker{
    z-index: 2 !important;
}

#tutorial-button{
    position: fixed;
    top: 100px;
    right: 20px;
    i{
        color: $sub-color;
        font-size: 60px;
        cursor: pointer;
    }
}
#modal-tutorial{
    max-width: 50% !important;
    height: 650px;
    video{
        width: 100%;
    }
    ul{
        text-align: center;
        margin-top: 20px;
        li{
            display: inline-block;
            border: 5px solid $light-color;
            border-radius: 53px;
            width: 10px;
            height: 10px;
            cursor: pointer;
            &.nav-btn{
                background-color: white;
                border: 0;
                width: 50px;
                height: 40px;
                border-radius: 0;
                font-size: 30px;
                color: $sub-color;
                text-align: center;
            }
            &.active{
                background-color: $light-color;
            }
        }
    }
}

/* Loading style */
#loading{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.54);
    text-align: center;
    display: none;
    div{
        background-color: white;
        width: 500px;
        height: 500px;
        margin: 0 auto;
        border-radius: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        svg{
            transform-origin: center center;
            animation: svg 5s ease-in-out forwards infinite alternate;
            margin-top: -100px;
        }
        span{
            color: $base-color;
            font-family: sans-serif;
            font-size: 32px;
            font-weight: 600;
        }
    }
    i{
        position: absolute;
        left: 50px;
        top: 40px;
        color: #f13838;
        font-size: 35px;
        cursor: pointer;
    }
}
.c1{
    stroke-dasharray: 250;
/*   stroke-dashoffset: 125; */
    transform-origin: center center;
    stroke-dashoffset: 250;
    animation: dash 2s ease-in-out forwards infinite alternate, c1 2s ease-in-out forwards infinite alternate;
}
.c2{
    stroke-dasharray: 294;
/*   stroke-dashoffset: 147; */
    stroke-dashoffset: 294;
    transform-origin: center center;
    transform: rotate(20deg);
    animation: dash 2s ease-in-out forwards infinite alternate, c2 2s ease-in-out forwards infinite alternate;
}
.c3{
    stroke-dasharray: 338;
/*   stroke-dashoffset: 169; */
    stroke-dashoffset: 338;
    transform-origin: center center;
    transform: rotate(40deg);
    animation: dash 2s ease-in-out forwards infinite alternate, c3 2s ease-in-out forwards infinite alternate;
}
.c4{
    stroke-dasharray: 382;
/*   stroke-dashoffset: 191; */
    stroke-dashoffset: 382;
    transform-origin: center center;
    transform: rotate(60deg);
    animation: dash 2s ease-in-out forwards infinite alternate, c4 2s ease-in-out forwards infinite alternate;
}
.c5{
    stroke-dasharray: 426;
/*   stroke-dashoffset: 213; */
    stroke-dashoffset: 426;
    transform-origin: center center;
    transform: rotate(80deg);
    animation: dash 2s ease-in-out forwards infinite alternate, c5 2s ease-in-out forwards infinite alternate;
}
.c6{
    stroke-dasharray: 470;
/*   stroke-dashoffset: 235; */
    stroke-dashoffset: 470;
    transform-origin: center center;
    transform: rotate(100deg);
    animation: dash 2s ease-in-out forwards infinite alternate, c6 2s ease-in-out forwards infinite alternate;
}
@keyframes dash {
    to {
    stroke-dashoffset: 0;
    }
}
@keyframes svg {
    to {
    transform: rotate(720deg);
    }
}
@keyframes c1 {
    to {
    transform: rotate(-90deg);
    }
}
@keyframes c2 {
    to {
    transform: rotate(-110deg);
    }
}
@keyframes c3 {
    to {
    transform: rotate(-130deg);
    }
}
@keyframes c4 {
    to {
    transform: rotate(-150deg);
    }
}
@keyframes c5 {
    to {
    transform: rotate(-170deg);
    }
}
@keyframes c6 {
    to {
    transform: rotate(-190deg);
    }
}


/*
| -------------------------------------------------------------------------
| MEDIA QUERIES
| -------------------------------------------------------------------------
*/
@media all and (min-width: 1024px) { 
}

@media all and (min-width: 768px) and (max-width: 1023px) { 
}

@media all and (min-width: 480px) and (max-width: 767px) { 
    
}

@media all and (max-width: 479px) {
    
}