
#content {
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: grid;
    grid-template-columns: 32% 68%;
}
#diagram-container{
    text-align: center;
}
.target{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 600px;
    height: 1000px;
}
.target>div{
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.target>div>img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.diagram-shape{
    stroke: black;
    stroke-width: 1px;
}
#diagram-trash{
    height: 200px;
    width: 200px;
    border: 2px solid black;
}