@font-face {
    font-family: font-logo;
    src: url(../fonts/MajorMonoDisplay-Regular.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}
html, body, #container{
    height: 100%;
    width: 100%;
}
#navbar{
    position: absolute;
    width: 100%;
    top: 0;
    padding: 20px 0;
    z-index: 1;
}
#logo{
    font-family: font-logo;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: 0 50px;
    color: #070725;
    float: right;
}
#container{
    display: grid;
    grid-template-columns: 40% auto;
}
#vector-img{
    /* display: none; */
    position: relative;
}
#vector-img img{
    margin: 0 80px;
    position: absolute;
    top: 50%;
    /* left: 50%; */
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#form-container{
    padding: 120px 110px 0 30px;
    background: url('../img/form-bg-green.svg');
    background-size: cover;
    background-position: right;
    color: #b2b2d1;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    overflow: hidden;
}
#login-container{
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%; */
}
#register-container{
    /* display: none; */
}
#desc{
    font-size: 16px;
    margin-bottom: 70px;
}
#desc span{
    font-family: font-logo;
    font-weight: bold;
}
.input-group{
    position: relative;
    margin: 30px 0;
    width: 100%;
}
.input-group::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.input-group.user::before, .input-group.name-reg::before{
    content: "\f007";
}
.input-group.pass::before{
    content: "\f023";
}
.input-group.email-reg::before, .input-group.email::before{
    content: "\f0e0";
}
.fancy-input:focus + span, .fancy-input:not(:placeholder-shown) + .floating-label {
    opacity:1;
    transform: scale(0.75) translateY(-100%) translateX(-30px);
    padding: 10px 12px;
}
.fancy-input{
    font-size: 14px;
    width: 85%;
    height: 35px;
    background: transparent;
    color: #b2b2d1;
    border: 0px;
    border-bottom: 2px solid #b2b2d1;
    padding-left: 40px;
}
.fancy-input:-webkit-autofill,
.fancy-input:-webkit-autofill:hover, 
.fancy-input:-webkit-autofill:focus, 
.fancy-input:-webkit-autofill:active {
    background-color: #070725 !important;
    color: #b2b2d1 !important;
}
.floating-label {
    padding: 10px 40px;
    pointer-events: none;
    position:absolute;
    left:0;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
}
.styled-btn{
    cursor: pointer;
    text-decoration: none;
    background: white;
    color: black;
    border: 0px;
    border-radius: 20px;
    padding: 6px 65px 6px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-family: arial;
    font-weight: 400;
    font-size: 13px;
    border: 2px solid white;
}
.styled-btn::after{
    /* content: "\f039"; */
    content: attr(data-icon);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 17px;
    color: white;
}
.styled-btn::before{
    content: '';
    position: absolute;
    display: block;
    background: #08808e;
    height: 30px;
    width: 60px;
    top: 0;
    right: -13px;
    transform: skewX(25deg);
    z-index: -1;
}
.modal-btn{
    cursor: pointer;
    text-decoration: none;
    background: #005059;
    color: white;
    border: 0px;
    border-radius: 20px;
    padding: 6px 65px 6px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-family: arial;
    font-weight: 400;
    font-size: 13px;
    border: 2px solid white;
    margin-right: 5px;
    margin-top: 15px;
}
.modal-btn::after{
    /* content: "\f039"; */
    content: attr(data-icon);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 17px;
    color: white;
}
.modal-btn::before{
    content: '';
    position: absolute;
    display: block;
    background: #08808e;
    height: 30px;
    width: 60px;
    top: 0;
    right: -13px;
    transform: skewX(25deg);
    z-index: -1;
}
.tab-btn{
    color: #2c2c60;
    cursor: pointer;
}
.tab-btn.active{
    color: #b2b2d1;
}